.card1,.card2,.card3,.card4{
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 460px;
}

.carousel-nav-icon {
    height: 48px;
    width: 48px;
  }
.carousel-item .col, .col-sm, .col-md {
    margin: 8px;
    height: 300px;
    background-size: cover;
    background-position: center center;
  }
.icon{
    color: black;
    font-size: 28px;
  }
.uul li{
  list-style-type: none;
  border-bottom: 1px solid black;
}
.uul a{
  color: #797979;
}
.uul li i{
  color: #000000;
}
.uul a:hover{
  color: white;
  text-decoration: underline;
}
.social i{
  font-size: 32px;
}
